<h1>Contracts</h1>
<div >
<!--<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Creation Date</th>
      <th>Number of Versions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contract of contracts">
      <td>{{contract.reference}}</td>
      <td>{{contract.signatureDate}}</td>
      <td>{{contract.numberOfContractVersions}}</td>
    </tr>
  </tbody>
</table>-->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <ng-container matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
    <td mat-cell *matCellDef="let element" [routerLink]="['/contract', element.reference]"> {{element.reference}} </td>
  </ng-container>

  <ng-container matColumnDef="signatureDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Signature Date </th>
    <td mat-cell *matCellDef="let element" [routerLink]="['/contract', element.reference]"> {{element.signatureDate}} </td>
  </ng-container>

  <ng-container matColumnDef="numberOfContractVersions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Contract Versions </th>
    <td mat-cell *matCellDef="let element" [routerLink]="['/contract', element.reference]"> {{element.numberOfContractVersions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="element-row" ></tr>
</table>

<!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</div>
<mat-dialog-actions>
  <button class="btn btn-primary" mat-raised-button (click)="openDialog()">Create contract</button>
</mat-dialog-actions>


