<!--The content below is only a placeholder and can be replaced.-->
<div class="main">



  <div style="float:left;width:20%">
    <div style="height: 100vh;">
    <ng-sidebar-container >


      <ng-sidebar [(opened)]="_opened" position="left">
        <ul class="nav bg" routerLinkActive="active">
          <li>
            <h3 class="brand-text" style="color:white;padding-bottom:30px;padding-left:30%">Comics</h3>
          </li>
          <li class="nav-item">
            <a routerLink="dashboard" class="nav-link">
              <i class="fa fa-home"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contracts">
              <i class="far fa-newspaper"></i>
              <span class="menu-title">Contracts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contractversions">
              <i class="far fa-newspaper"></i>
              <span class="menu-title">Contract Versions</span>
            </a>
          </li>
        </ul>

      </ng-sidebar>
    </ng-sidebar-container>
  </div>
  </div>
  <div style="float:left;width:50%">
    <router-outlet></router-outlet>
  </div>
</div>
  <!--<!--<div style="position:absolute;bottom:0;width:100%;">
    <app-footer></app-footer>
  </div>-->

  



