
<h1 mat-dialog-title>Create Contract</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.contractReference" placeholder="Contract Reference" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="creationDatePicker" placeholder="Creation Date" [(ngModel)]="data.creationDate" />        
    <mat-datepicker-toggle matSuffix [for]="creationDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #creationDatePicker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Save</button>
</div>

