/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*.ng-sidebar {
  background: blue;
  width: 13rem;
}*/

.ng-sidebar--left {
  color: red !important;
  background: #2C303B;
  width: 20rem;
}
ul {
  list-style-type: none;
  /*margin: 0;
  padding: 0;*/
}
li a {
  display: block;
  color: rgba(160, 180, 200, 0.85);
  /*text-align: center;*/
  padding-left: 12px;
  text-decoration: none;

}
.nav-text {
  display: block;
  line-height: 1.125rem;
  font-weight: 500;
  transition: opacity .15s ease-in-out;
  padding: .5625rem 0;
}
li > a > i {
  margin-right: 8px;
  float: left;
}
li > a > span{
display: inline-block;
}

.menu-title
{
  padding-left:10px;
}
.main {
  /*background-color: #808080 !important;*/
}
.nav-item {
  padding-bottom: 20px !important;
  font-size:16px;
}

